@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

section {
  box-shadow: 1px 6px 17px -1px rgba(34, 60, 80, 0.19);
  padding-top: 20px;
  width: 40vw;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 35px 15px;
  align-items: center;
}

.fa-trash-alt {
  display: none;
}

.trash-active {
  display: block;
}

/* .checkTodo {
  text-decoration: line-through;
} */

/* .checkedContainer{
  background-color: #fffed3;
} */
.edit-desable {
  display: none;
}

.editInput {
  background-color: #fffed3;
}

input {
  width: 100%;
  border: none;
  outline: none;
  padding-left: 20px;
  font-family: italic;
  font-size: 18px;
  padding-bottom: 12px;
}

.todoContainer {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  padding: 30px 10px;
  align-items: center;
}

button {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 25px 0;
  font-size: 18px;
  color: #d0d0d0;
  border-top: 1px solid #d0d0d0;
}

.checkbox {
  width: 10%;
}

button:hover {
  cursor: pointer;
}

.fa-sync-alt {
  font-size: 20px;
}

span {
  flex: 1;
}
